.container{
  /* border-radius: 7px;
  padding: 32px;
  color: white;
  background: linear-gradient(-45deg, rgba(146,200,62,1) 0%, rgba(0,178,227,1) 50%, rgba(0,61,166,1) 100%); */
  /* display: none; */
}

.content {
  margin: 0 15px;
  border-radius: 6px;
  padding: 32px;
  color: white;
  background: linear-gradient(-45deg, rgba(146,200,62,1) 0%, rgba(0,178,227,1) 50%, rgba(0,61,166,1) 100%) ;
}

.titulo{
  font-size: 32px;

}

@media ( min-width:768px ) {
  .titulo {
    /* Font & Text */
    font-family: "GothamMedium", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 72px;
  }
}

.comentario.text-gray {
	/* Font & Text */
	font-family: "Gotham-light", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 32px;
	text-align: left;
  color: white;

}

.descripcion {
	/* Font & Text */
	font-family: "Gotham-light", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 32px;

	/* Color & Background */
	color: white;

}

.call-to-action {
	/* Font & Text */
	font-family: "GothamMedium", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 24px;
	text-decoration: none solid rgb(33, 43, 55);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: top;
	white-space: pre-wrap;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: #003ca6;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(233, 233, 233);

	/* Box */
	height: 55px;
	width: auto;
	/* border: 2px solid #003da652; */
	margin: 0px;
	padding: 14px 10px 13px;
	max-height: none;
	min-height: 0px;
	max-width: 560px;
	min-width: 144px;


}

@media ( min-width: 768px ) {
  .call-to-action{
    font-size: 18px;
    padding: 14px 38px 13px;
  }
}

.texto-cierre {
	/* Font & Text */
	font-family: "Gotham-light", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;

	/* Color & Background */
	color: white;

	/* Box */
	margin: 8px 0px 0px;

}

.texto-cierre a {
	/* Font & Text */
	font-family: "Poppins-Bold", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	text-decoration: none;

	/* Color & Background */
	color: #003ca6;

}
