<div class="container">

  <div class="row mb-3">
    <p-card>
      <h2 class="titulo">Navegación por Visitante
        <span
          *ngIf="!!selectedVisitante._id === true">
          <p-tag class="m-1" [value]="selectedVisitante._id"></p-tag>
          <p-tag class="m-1" [value]="selectedVisitante.ip"></p-tag>
        </span>
      </h2>
    </p-card>
  </div>

  <div class="row">
    <div class="col-3">
      <p-card>
        <h5>Visitantes</h5>
          <p-table
            [virtualScroll]="true"
            scrollHeight="600px"
            [value]="visitantes.data"
            selectionMode="single"
            [(selection)]="selectedVisitante"
            dataKey="_id"
            responsiveLayout="scroll"
            (onRowSelect)="onRowSelect($event)"
            (onRowUnselect)="onRowUnselect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código</th>
                    <th>Ip</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-visitante>
                <tr [pSelectableRow]="visitante">
                    <td>{{visitante._id}}</td>
                    <td>{{visitante.ip}}</td>
                </tr>
            </ng-template>
        </p-table>
      </p-card>
    </div>

    <div class="col-9">
      <!-- <p-card *ngIf="selectedVisitante._id == undefined">
      </p-card> -->
      <p-messages severity="info" *ngIf="!!selectedVisitante._id === false">
        <ng-template pTemplate>
            <img src="assets/images/logos/now.png" width="32" />
            <div class="p-2"> Seleccione un visitante para ver los detalles.</div>
        </ng-template>
    </p-messages>

      <p-card *ngIf="selectedVisitante._id">
        <!-- <h5>Detalle de usuario: <span><p-tag [value]="selectedVisitante._id"></p-tag></span> </h5> -->

        <p-tabView>
          <p-tabPanel header="Productos">
            <p-tabView (onChange)="activaGrafo($event)">
              <p-tabPanel header="Detalle" [headerStyle]='{"font-size":"10px"}'>
                <h5>Detalle de productos</h5>

              </p-tabPanel>
              <p-tabPanel header="Grafos" [headerStyle]='{"font-size":"10px"}'>
                <!-- <h5>Detalle de productos visitados</h5> -->
                <div #app id="app" style="height: 500px;"></div>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
          <p-tabPanel header="Páginas">
            Content
          </p-tabPanel>
          <p-tabPanel header="Logs">
            <h5>Detalle de logs realizados</h5>
            Content
          </p-tabPanel>
      </p-tabView>


      </p-card>
    </div>

  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <pre>
          {{ selectedVisitante | json }}
        </pre>
      </div>
    </div>
  </div>

</div>
