<div class="container-fluid content">
  <div class="row">

    <div class="col">
      <app-titulo-page [titulo]="'store_contact_001' | translate "
                       [rutas]="ruta">
      </app-titulo-page>
    </div>

  </div>

  <div class="row">
    <div class="col">

      <div class="imagen">
        <img src="../../../../assets/images/components/contact.jpg"
             [style]="{'width':'100%','height':'60vh','object-fit':'cover'}">
      </div>

    </div>
  </div>
</div>

  <div class="bloque-contact-us">
    <div class="row">

      <div class="col-12">

        <div class="contact-us">
          <h2 class="titulo">{{ 'store_contact_004' | translate }}</h2>
          <p class="descripcion">{{ 'store_contact_005' | translate }}</p>
        </div>

      </div>

      <div class="col-12 col-md-6">

        <form [formGroup]="contactForm"
              autocomplete="off"
              (ngSubmit)="enviar()">
              <!-- <p-captcha siteKey="6LeS8VAeAAAAACQ6QjCB8wsgqE_2-A-gttY9vuxS" (onResponse)="showResponse($event)"></p-captcha> -->
          <div class="field">
            <input class="nombre ng-invalid ng-dirty"
                   aria-describedby="nombre-help"
                   formControlName="nombre"
                   style="width: 100%;"
                   type="text"
                   pInputText
                   [placeholder]="'store_contact_006' | translate"/>
            <small class="error" *ngIf="isInvalid('nombre')">
              {{ 'store_contact_007' | translate }}
            </small>
          </div>
          <div>
            <input class="email"
                   formControlName="email"
                   style="width: 100%;"
                   type="email"
                   pInputText
                   [placeholder]="'store_contact_008' | translate"/>
              <small class="error" *ngIf="isInvalid('email')">
                {{ 'store_contact_009' | translate }}
              </small>
          </div>
          <div>
            <textarea class="textwrapper mensaje"
                      formControlName="mensaje"
                      cols="2"
                      rows="10"
                      pInputTextarea
                      [placeholder]="'store_contact_010' | translate">
            </textarea>
            <small class="error" *ngIf="isInvalid('mensaje')">
              {{ 'store_contact_011' | translate }}
            </small>
          </div>

          <button [style]="{'backgroundColor': '#92C83E','padding': '1rem'}
                    "
                    type="submit"
                    pButton
                    [label]="'store_contact_012' | translate">
          </button>

        </form>

      </div>

      <div class="col-12 col-md-6">

        <article class="article-info mt-5 mt-md-0">
          <div class="icono">
            <i class="pi pi-map-marker"></i>
          </div>
          <div class="texto">
            <div class="article-titulo">
              {{ 'store_contact_013' | translate }}
            </div>
            <div class="article-descripcion">
              {{ 'store_contact_014' | translate }}
            </div>
          </div>
        </article>

        <article class="article-info mt-3">
          <div class="icono">
            <i class="pi pi-phone"></i>
          </div>
          <div class="texto">
            <div class="article-titulo">
              {{ 'store_contact_015' | translate }}
            </div>
            <div class="article-descripcion">
              {{ 'store_contact_016' | translate }}
            </div>
          </div>
        </article>

        <article class="article-info mt-3">
          <div class="icono">
            <i class="pi pi-envelope"></i>
          </div>
          <div class="texto">
            <div class="article-titulo">
              {{ 'store_contact_017' | translate }}
            </div>
            <div class="article-descripcion">
              {{ 'store_contact_018' | translate }}
            </div>
          </div>
        </article>

      </div>


    </div>
  </div>


  <div class="container devForm" >
    <div class="row">

      <div class="col">
        <span>Valid</span>
        <h6>Indica si el formulario se encuentra válido.</h6>
        <pre>{{  contactForm.valid }}</pre>
      </div>

      <div class="col">
        <span>Pristine</span>
        <h6>Indica si el estado del formulario no ha cambiado nunca</h6>
        <pre>{{  contactForm.pristine }}</pre>
      </div>

      <div class="col">
        <span>Touched</span>
        <h6>Indica si se ha interactuado con algun campo del formulario</h6>
        <pre>{{  contactForm.touched }}</pre>
      </div>

      <div class="col">
        <span>Values</span>
        <h6>Muestra los valores de los campos del formularios</h6>
        <pre>{{  contactForm.value | json }}</pre>
      </div>

      <div class="col">
        <span>Errores en campos</span><br>
        <span>Con null indica que no existen errores en el campo. De lo contrario indica el error</span>

        <div>
          <h6>Nombre</h6>
          <pre>{{  contactForm.get('nombre')?.errors | json }}</pre>
        </div>

        <div>
          <h6>Email</h6>
          <pre>{{  contactForm.get('email')?.errors | json }}</pre>
        </div>

        <div>
          <h6>Mensaje</h6>
          <pre>{{  contactForm.get('mensaje')?.errors | json }}</pre>
        </div>
      </div>

    </div>
  </div>


