<ng-template [ngIf]="productos === undefined" [ngIfElse]="response">
  <app-loading></app-loading>
</ng-template>

<ng-template #response>
<section class="container">
  <article>


    <div class="row">

      <div class="col-12">
        <h2 style="font-size: 3rem; text-align: center; padding: 3rem 0">
          {{ 'store_articulos_destacados_001' | translate }}
          <span style="color: #00b2e3;">{{ 'store_articulos_destacados_002' | translate }}</span>
        </h2>

      </div>

      <div class="col-12 col-sm-6 col-lg-4 col-xl-3"
           *ngFor="let producto of productos">
        <app-producto
          [producto]="producto">
        </app-producto>
      </div>

    </div>
  </article>
</section>
</ng-template>
<!-- <section>
  <ng-template [ngIf]="productos === undefined" [ngIfElse]="response">
    <app-loading></app-loading>
  </ng-template>

  <ng-template #response>
    <div class="productos">
      <app-producto
        *ngFor="let producto of productos"
        [producto]="producto"
      ></app-producto>
    </div>
  </ng-template>
</section> -->
