<p-sidebar [(visible)]="display">
  <ul>
    <li routerLink="/dashboard" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Dashboard</li>
    <li routerLink="/dashboard/chat" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Chat</li>
    <li routerLink="/dashboard/suscriptors" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Suscriptores</li>
    <li routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Store</li>
    <li routerLink="/dashboard/otro" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Menu-5</li>
    <li routerLink="/dashboard/otro" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Menu-6</li>
    <li (click)="logout()">Logout</li>
  </ul>
</p-sidebar>

<p-button type="text"
          (click)="display = true"
          icon="pi pi-plus" label="Show">
</p-button>

  <router-outlet></router-outlet>
