section {
	width: 100%;
	margin: 0 auto;
	line-height: 0;
	position: relative;
  margin-top: 20px;
}
section img {
	width: 100%;
  height: 400px;
  object-fit: cover;
}
section article {
	position: absolute;
	top: 0;
	width: 100%;
	background: #FAFAFA;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	mix-blend-mode: lighten;
}
section div {
	background: black;
	/* height: 25.3vw; */
	height: 195px;
}
section div:nth-of-type(2) {
	grid-column: 2 / 4;
}


.bloque-returns-and-refunds{
  margin: 30px;
  background-color: #ECEFF6;
  padding: 30px 20px;
}

/*
.bloque-returns-and-refunds .about-us-img img{
  width: 90%;
} */

.bloque-returns-and-refunds .returns-and-refunds-parrafo h2{
  padding: 10px 0;
  margin: 0 0 10px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #00b5d6;
}

.bloque-returns-and-refunds .returns-and-refunds-parrafo div {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #999999;
  /* padding-right: 60px; */
}

.bloque-returns-and-refunds .returns-and-refunds-parrafo {
  display: flex;
  align-items: center;
}
