/* Mensajes */
section.mensajes {
  background-color: #003CA6;
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  min-height: 2rem;
}

section div {
  display: flex;
  align-items: center;
  justify-content: center;
}

section div div{
  display: flex;
  align-items: center;
  justify-content: center;
}

section.mensajes h5 {
  text-align: center;
  margin: 0;
  font-family: 'Adam-Light', 'sans-serif';
  font-weight: bold;
  letter-spacing: .2rem;
  font-size: .9rem;
  margin: 0 5px;
}
