<form class="login100-form"
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="registro()">

  <span class="login100-form-title p-b-49">
      {{ 'auth_register_001' | translate }}
    </span>

    <div class="wrap-input100 m-b-23">
      <span class="label-input100">
        {{ 'auth_register_002' | translate }}
      </span>
      <input class="input100"
             autofocus
             type="text"
             formControlName="name"
             [placeholder]="'auth_register_003' | translate">
      <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">
      {{ 'auth_register_004' | translate }}
    </span>
    <input class="input100"
           type="email"
           formControlName="email"
           [placeholder]="'auth_register_005' | translate">
    <span class="focus-input100"></span>
</div>

  <div class="wrap-input100">
      <span class="label-input100">
        {{ 'auth_register_006' | translate }}
      </span>
      <input class="input100"
             type="password"
             formControlName="password"
             [placeholder]="'auth_register_007' | translate">
      <span class="focus-input100"></span>
  </div>

  <div class="text-right p-t-8 p-b-31"></div>

  <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn"
                  type="submit"
                  [disabled]="miFormulario.invalid">
                  {{ 'auth_register_008' | translate }}
          </button>
      </div>
  </div>

  <div class="flex-col-c p-t-60">
      <span class="txt1 p-b-17">
        {{ 'auth_register_009' | translate }}
      </span>

      <a routerLink="/auth/login" class="txt2">
        {{ 'auth_register_010' | translate }}
      </a>
  </div>
</form>

<div style="display: none;">
  <pre>Value: {{ miFormulario.value | json }}</pre>
  <pre>Valid: {{ miFormulario.valid | json }}</pre>
</div>
