.superponer-header {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
  width: 100%;

 }

 .separador{
   height: 270px;
   /* height: 190px; */
 }

 @media ( min-width:992px ){
  .separador{
    height: 215px;

  }
}
