<div class="container-fluid content">
  <div class="row">

    <div class="col">

      <app-titulo-page [titulo]="'store_about_us_001' | translate"
                       [rutas]="ruta">
      </app-titulo-page>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <div class="imagen">
        <img src="../../../../assets/images/components/about-us.jpg"
        [alt]="'store_about_use_004' | translate">
      </div>
    </div>

  </div>

  <div class="bloque-about-us">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-4 order-1 order-md-0">
        <div class="about-us-img">
          <img class="w-100 w-md-90" src="../../../../assets/images/components/about-us_2.jpg" alt="">
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-8 order-0 order-md-1 about-us-parrafo">
        <div class="mt-4 mt-md-0">
          <h2>
            {{ 'store_about_us_005' | translate }}
          </h2>
          <p>
            {{ 'store_about_us_006' | translate }}
          </p>
          <p>
            {{ 'store_about_us_007' | translate }}
          </p>
            <p>
              {{ 'store_about_us_008' | translate }} <br>
              {{ 'store_about_us_009' | translate }}
            </p>
        </div>
      </div>

    </div>
  </div>

</div>
