.imagen img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.bloque-about-us{
  margin: 30px;
  background-color: #ECEFF6;
  padding: 30px 20px;
}


.bloque-about-us .about-us-img img{
  width: 90%;
}

.bloque-about-us .about-us-parrafo h2{
  padding: 10px 0;
  margin: 0 0 10px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #00b5d6;
}

.bloque-about-us .about-us-parrafo div {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #999999;
  padding-right: 60px;
}

.bloque-about-us .about-us-parrafo {
  display: flex;
  align-items: center;
}
