/* @import '../node_modules/primeng/resources/themes/vela-blue/theme.css';

@import '../node_modules/primeng/resources/primeng.min.css';

@import '../node_modules/primeicons/primeicons.css'; */

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Adam-Medium';
  src: url(./assets/fonts/Adam/Adam-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Adam-Light';
  src: url(./assets/fonts/Adam/Adam-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Adam-Bold';
  src: url(./assets/fonts/Adam/Adam-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'GothamMedium';
  src: url(./assets/fonts/Gotham/GothamMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham-Light';
  src: url(./assets/fonts/Gotham/GothamLight.ttf) format('truetype');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins-Bold;
}

body, html {
    height: 100%;
    /* font-family: var(--font-family); */
    font-family: Poppins-Regular, sans-serif;
    background-color: var(--surface-b);
    /* width: 100vw!important; */
}



.text-layout{
  color: var(--text-color);
}

/*---------------------------------------------*/


/* Eliminamos la grilla de categorias de la pagina principal */

.ec-grid > .grid__categories {
  display: none!important;
}
