<section>
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-5">

        <div class="shape">
          <svg id="io01" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
            <path fill="#67971E" d="M371,311Q322,382,221.5,414Q121,446,72.5,343Q24,240,72,136.5Q120,33,217,72Q314,111,367,175.5Q420,240,371,311Z" />
          </svg>
          <svg id="io02" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
            <path fill="#7DB02E" d="M371,311Q322,382,221.5,414Q121,446,72.5,343Q24,240,72,136.5Q120,33,217,72Q314,111,367,175.5Q420,240,371,311Z" />
          </svg>
          <svg id="io03" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
            <path fill="#92C73E" d="M371,311Q322,382,221.5,414Q121,446,72.5,343Q24,240,72,136.5Q120,33,217,72Q314,111,367,175.5Q420,240,371,311Z" />
          </svg>
          <svg id="io04" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
            <path fill="#A7DB51" d="M371,311Q322,382,221.5,414Q121,446,72.5,343Q24,240,72,136.5Q120,33,217,72Q314,111,367,175.5Q420,240,371,311Z" />
          </svg>
          <svg id="io05" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
            <path fill="#BAEB65" d="M371,311Q322,382,221.5,414Q121,446,72.5,343Q24,240,72,136.5Q120,33,217,72Q314,111,367,175.5Q420,240,371,311Z" />
          </svg>
          <div class="imagen">
            <img src="../../../../assets/images/components/camiseta-psg.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-7">
        <div
              class="content">

          <h2>{{ 'store_suscribe_001' | translate }} <br><span style="color: #00b5d6;">{{ 'store_suscribe_002' | translate }}</span></h2>

          <p>
            {{ 'store_suscribe_003' | translate }}
          </p>

          <form *ngIf="!suscrito; else gracias"
                [formGroup]="suscriptorForm"
                autocomplete="off"
                (ngSubmit)="registrar()">
            <div class="input-group mb-3 cuerpo-input">
              <input type="text"
                     formControlName="email"
                     class="form-control"
                     [placeholder]="'store_suscribe_004' | translate" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">{{ 'store_suscribe_005' | translate }}</button>
            </div>

            <div class="form-check">
              <input class="form-check-input"
                     formControlName="acepta"
                     type="checkbox"
                     value=""
                     id="recibir-correos">
              <label class="form-check-label" for="recibir-correos">
                {{ 'store_suscribe_006' | translate }}
              </label>
            </div>
          </form>

          <ng-template #gracias>
            {{ 'store_suscribe_007' | translate }} <br>
            <span class="celeste">{{ 'store_suscribe_008' | translate }}</span>
          </ng-template>

        </div>

      </div>
    </div>
  </div>
</section>
